{% extends 'public/base.html' %}

{% block header %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal m-t" id="addFunctionsForm">
            <input type="hidden" name="fid" value="{{ functionInfo.id }}"/>
            <div class="form-group">
                <label class="col-sm-3 control-label">模块：</label>
                <div class="col-sm-8">
                    <input id="module" name="module" class="form-control" type="text" value="{{ functionInfo.module }}" required placeholder="模块名称">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">控制器：</label>
                <div class="col-sm-8">
                    <input id="controller" name="controller" class="form-control" type="text" value="{{ functionInfo.controller }}" required placeholder="控制器">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">方法：</label>
                <div class="col-sm-8">
                    <input id="action" name="action" class="form-control" type="text" value="{{ functionInfo.action }}" required placeholder="方法">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input id="function_name" name="function_name" class="form-control" type="text" value="{{ functionInfo.name }}" required placeholder="功能名称">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-8">
                    <textarea name="description" class="form-control">{{ functionInfo.description }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                    <div class="switch">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="type_normal" value="0" name="type" {% if functionInfo.type=='0' %} checked {% endif %}>
                            <label for="type_normal">普通</label>
                        </div>
                        <div class="radio radio-danger radio-inline">
                            <input type="radio" id="type_menu" value="1" name="type" {% if functionInfo.status=='1' %} checked {% endif %}>
                            <label for="type_menu">菜单</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="switch">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="status_on" value="1" name="status" {% if functionInfo.status=='1' %} checked {% endif %}>
                            <label for="status_on">启用</label>
                        </div>
                        <div class="radio radio-danger radio-inline">
                            <input type="radio" id="status_off" value="0" name="status" {% if functionInfo.status=='0' %} checked {% endif %}>
                            <label for="status_off">禁用</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <hr >
        <div class="text-center">
            <button class="btn btn-outline btn-info" type="button" id="saveFunctionBtn">
                <i class="fa fa-check"></i>提交
            </button>
            <button class="btn btn-outline btn-default" onclick="bootbox.hideAll();">
                <i class="fa fa-times"></i>关闭
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="__static__/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__static__/hplus/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__static__/hplus/js/content.min.js?v=1.0.0"></script>
<script src="__static__/hplus/js/plugins/validate/jquery.validate.min.js"></script>
<script src="__static__/hplus/js/plugins/validate/messages_zh.min.js"></script>
<script src="__static__/hplus/js/demo/form-validate-demo.min.js"></script>
<script src="__static__/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    //表单验证
    $("#addFunctionsForm").validate({
        ignore:'',
        rules: {
            module: {
                required: true,
            },
            controller: {
                required : true,
            },
            action: {
                required : true,
            },
            function_name: {
                required : true,
            }
        },
        messages: {
            module: {
                required: "请填写模块（module）"
            },
            controller : {
                required :"请填写控制器（controller）",
            },
            action: {
                required : "请填写方法（action）",
            },
            function_name: {
                required : "请填写功能名称",
            },
        }
    });
    //提交按钮监听
    $('#saveFunctionBtn').click(function(){
        {% if isAdd %} var __url = 'addFunction';{% else %} var __url = 'editFunction';{% endif %}
        if ($('#addFunctionsForm').valid()) {
            $.ajax({
                url: __url,
                data: $('#addFunctionsForm').serializeArray(),
                dataType: "json",
                type: 'POST',
                success: function (result) {
                    if(result.code == 1){
                        bootbox.hideAll();
                        bootbox.alert({
                            message:result.msg,
                            buttons: {
                                ok: {
                                    label: '确定',
                                    className: 'btn-success'
                                }
                            },
                            callback: function (rel) {
                                window.location.reload(true);
                            }
                        });
                    }else{
                        bootbox.alert(result.msg);
                    }
                }
            });
        } else {
            return;
        }
    });
</script>
{% endblock %}
