{% extends 'public/base.html' %}

{% block header %}
<!-- Data Tables -->
<link href="__static__/hplus/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="__static__/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
{% endblock %}

{% block body %}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox ">
            <div class="ibox-title">
                <button class="btn btn-primary btn-outline ajaxDialog" data-url="addUser" data-title="添加系统用户">添加用户</button>
            </div>
            <div class="ibox-content">
                <table class="table table-striped table-bordered table-hover " id="userTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>显示名</th>
                        <th>所属用户组</th>
                        <th>备注</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}

{% block scripts %}
<script src="__static__/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__static__/hplus/js/plugins/bootbox/bootbox.min.js"></script>
<script src="__static__/hplus/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__static__/hplus/js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="__static__/hplus/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__static__/hplus/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__static__/hplus/js/content.min.js?v=1.0.0"></script>
<script src="__static__/userDefine.js"></script>
<script>
    $(document).ready(function(){
        $("#userTable").dataTable(
            {
                'autoWidth': false,
                'iDisplayLength': 10,
                'bServerSide' : true,
                'aoColumns':[
                    {
                        "mData": 'id',
                        'sClass':'text-center',
                        'sWidth':'20'
                    }, {
                        "mData": 'name',
                        'sClass':'text-center',
                        'sWidth':'60',
                        'bSortable':false
                    }, {
                        "mData": 'display_name',
                        'sClass':'text-center',
                        'sWidth':'40',
                        'bSortable':false
                    },{
                        "mData": 'belong_to',
                        'sClass':'text-center',
                        'sWidth':'80',
                        'bSortable':false
                    },{
                        "mData": 'remarks',
                        'sClass':'text-center',
                        'sWidth':'60',
                        'bSortable':false
                    },{
                        "mData": 'status',
                        'sClass':'text-center',
                        'sWidth':'60',
                        'bSortable':false
                    }, {
                        "mData": 'action',
                        'sClass':'text-center',
                        'sWidth':'60',
                        'bSortable':false
                    }
                ],
                'fnServerParams' : function (aoData) {
                    var elememts = getElements('#userSearchForm');
                    $.each(elememts, function(key, val) {
                        aoData.push( { "name": key, "value": val } );
                    });
                },
                'aoColumnDefs' : [
                    {
                        'aTargets' : [6],
                        'mRender' : function (data, type, full) {
                            return '<button class="btn btn-info btn-outline btn-sm ajaxDialog" type="button" data-title="更新系统用户：'+ full.name +'" data-url="editUser" data-params="{uid:'+ full.id +'}"><i class="fa fa-paste"></i>编辑</button> &nbsp;&nbsp;'
                                +'<button class="btn btn-danger btn-outline btn-sm ajax" type="button" data-title="确定删除用户：'+ full.name +'" data-url="deleteUser" data-params="{uid:'+ full.id +'}"><i class="fa fa-trash"></i> <span class="bold">删除</span></button>';
                        }
                    }
                ],
                'sAjaxSource': '/admin/user/index',
                'fnServerData': function (sSource, aoData, fnCallback) {
                    $.ajax({
                        'type': 'post',
                        'url': sSource,
                        'dataType': 'json',
                        'data': {
                            aoData: JSON.stringify(aoData)
                        },
                        'success': function (resp) {
                            fnCallback(resp);
                        }
                    });
                },
                "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
//                    if(aData.status == 0){
//                        $('td:eq(5)', nRow).html('<span class="label label-sm label-warning">禁用</span>');
//                    }else{
//                        $('td:eq(5)', nRow).html('<span class="label label-sm label-success">启用</span>');
//                    }
//                    return nRow;
                },
            }
        );
    });
    //获取表单参数
    function getElements(formId) {
        var elements = {};
        var data = $(formId).serializeArray();
        $.each(data, function() {
            elements[this.name] = this.value;
        });

        return elements;
    }
</script>
{% endblock %}